
.blogBox{
    position: relative;
    overflow: hidden;
}

.blogContainer{
    display: flex;
}

.blogItem{
    white-space: nowrap;
    animation:animate 40s linear infinite;
    animation-delay:-40s;
    font-size: 40px;
    
}

.blogItem :nth-child(2){
    animation:animate2 40s linear infinite;
    animation-delay:-20s;
}
@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}